body {
	line-height: 1.4;
	background: #fefefe;
	max-width: 40em;
	margin-right: auto;
	margin-left: auto;
	font-family: sans;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.navbar a {
	padding: 0.2em;
	color: #444;
}

img {
	height: auto;
	max-width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

table {
	border-spacing: 2em;
}

.date {
	color: grey;
}
